.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.error-message {
  color: #dc3545; /* Rouge vif */
  font-size: 14px;
  margin-bottom: 10px;
}

.form-actions {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:first-child {
  background-color: #28a745; /* Vert */
  color: white;
}

button:last-child {
  background-color: #dc3545; /* Rouge */
  color: white;
}