body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #fdfdfd; /* Blanc cassé */
  color: #333;
  line-height: 1.6;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

h1, h2, h3 {
  color: #007bff; /* Bleu vif */
}

button {
  font-family: 'Roboto', sans-serif;
}